<!DOCTYPE html>

<html>
<head>
    <title>Weather</title>  
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>Weather.</h1>
        <p>A practice project by Sulagnodeep Paul.</p>
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    <script src="/index.js"></script>
</body>
</html>
